<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="flex flex-col">
  <div class="text-2xl"> Welcome to admin panel <span class="text-red-700" th:text="${userDTO.username}"/></div>
  <div class="text-2xl"> Role: <span class="text-red-700" th:text="${userDTO.roles.name}"/></div>
  <a href="/admin/allUsers">View all users</a>
  <a href="/home">Go back home</a>
</div>
</body>
</html>